In [1]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
          
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
          
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

# Ödev 1
##### Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [2]:
import pandas as pd
sozluk_df = pd.DataFrame(sozluk)
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

# Ödev 2
##### Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [3]:
# 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi)
sozluk_df.loc[2, "Kategori"]
sozluk_df.iloc[2, 0]

'Ayakkabı'

In [4]:
# 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
sozluk_df.loc[2, "Ürün"]
sozluk_df.iloc[2, 1]

'Sandalet'

In [5]:
# 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
sozluk_df.iloc[4:9,:]
sozluk_df.loc[4:8,"Kategori":"Fiyat"]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [6]:
# 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)
sozluk_df.iloc[1:6,1]
sozluk_df.loc[1:5,"Ürün"]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
Name: Ürün, dtype: object

# Ödev 3
##### Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [7]:
sozluk_df[sozluk_df["Kategori"]=="Giyim"]

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [8]:
# Giyim kategorisinde bulunan ürünleri gösterin
sozluk_df[sozluk_df["Kategori"]=="Giyim"][["Ürün"]]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [9]:
# Ayakkabı kategorisinde bulunan ürünleri gösterin
sozluk_df[sozluk_df["Kategori"]=="Ayakkabı"][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [10]:
# Aksesuar kategorisinde bulunan ürünleri gösterin
sozluk_df[sozluk_df["Kategori"]=="Aksesuar"][["Ürün"]]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

# Ödev 4
##### Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [13]:
# Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
sozluk_df[(sozluk_df["Kategori"]=="Giyim") & (sozluk_df["Fiyat"]>300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [18]:
# Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
sozluk_df[(sozluk_df["Kategori"]=="Ayakkabı") & (sozluk_df["Fiyat"]<600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [22]:
# Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin
sozluk_df[(sozluk_df["Kategori"]=="Aksesuar") & (sozluk_df["Fiyat"]>100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150